body {
    line-height: 1.5;
}

#playDisp {
    position:relative;
    top:20px;
    padding:0;
}

#display {
    position:absolute;
    top:80px;
    margin:0;
    padding:10px;
    width:735px;
    height:100px;
    border:3px solid #CC0;
    background-color:rgba(255, 255, 255, 0.7);
    font-family:cursive;
    font-size:30px;
}

#player {
    position: absolute;
    top: 0px;
}

#input {
    position:absolute;
    top:600px;
    width:735px;
    font-family:cursive;
    font-size:30px;
    box-sizing:border-box;
}

#download {
    position:absolute;
    top:690px;
}